body{
    background-color: bisque;
}
.white-keys kbd{
    background-color: white;
    display: inline-block;
    width: 70px;
    height: 200px;
    border: 2px solid darkgray;
    margin: -3px;
    text-align: center;
    line-height: 300px;
}
.container{
    width:600px;
    margin: 0 auto;
    padding-top: 200px;
}
.black-keys kbd {
    background-color: black;
    color: white;
    display: inline-block;
    width: 45px;
    height: 120px;
    border: 2px solid darkgray;
    margin: -3px;
    text-align: center;
    line-height: 150px;
    position: relative;
}
#KeyW {left: 48px; top: -198px;}
#KeyE {left: 70px; top: -198px;}
#KeyT {left: 170px; top: -198px;}
#KeyY {left: 195px; top: -198px;}
#KeyU {left: 220px; top: -198px;}